<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>在线设计中心</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/designs.css" type="text/css" media="screen" />
    <script>
        var Shapesmith = Shapesmith || {};
        Shapesmith.user = '{{user}}';
    </script>
    <script data-main="/src/main.designs.js" src="/src/lib/require-jquery.js"></script>

</head>
<body>
    
    <div class="logo"><img src="/images/logo_small.png" alt="logo"></div>
    {{#temporary}}
    <div style="display:none"  class="button" id="signup"><a href="/signup">Sign up</a></div>
    {{/temporary}}
    {{#signoutButton}}
    <div  style="display:none" class="button" id="signout"><a href="/signout">Sign out</a></div>
    {{/signoutButton}}
    <div id="create"></div>
    <div class="maincolumn">
        <ul id="designs"><li class="placeholder">loading...</li></ul>
    </div>

{{#track}}
{{/track}}
    
</body>
</html>
