@font-face {
	font-family: DroidSansRegular;
	src: url(../fonts/DroidSans-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSans-webfont.woff) format("woff"), url(../fonts/DroidSans-webfont.ttf) format("truetype"), url(../fonts/DroidSans-webfont.svg#DroidSansRegular) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: DroidSansBold;
	src: url(../fonts/DroidSans-Bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidSans-Bold-webfont.woff) format("woff"), url(../fonts/DroidSans-Bold-webfont.ttf) format("truetype"), url(../fonts/DroidSans-Bold-webfont.svg#DroidSansBold) format("svg");
	font-weight: normal;
	font-style: normal;
}
.container {
	margin: 0px auto; padding: 0px; width: 1000px; position: relative;
}
.column {
	margin-right: 10px; margin-left: 10px; float: left; display: inline;
}

.row {
	margin-bottom: 20px;
}
.alpha.column {
	margin-left: 0px;
}
.alpha.columns {
	margin-left: 0px;
}
.omega.column {
	margin-right: 0px;
}
.omega.columns {
	margin-right: 0px;
}
.container .column.one {
	width: 60px;
}
.container .columns.two {
	width: 140px;
}
.container .columns.three {
	width: 220px;
}
.container .columns.four {
	width: 300px;
}
.container .columns.five {
	width: 380px;
}
.container .columns.six {
	width: 460px;
}
.container .columns.seven {
	width: 540px;
}
.container .columns.eight {
	width: 620px;
}
.container .columns.nine {
	width: 700px;
}
.container .columns.ten {
	width: 780px;
}
.container .columns.eleven {
	width: 860px;
}
.container .columns.twelve {
	width: 1000px;
}
.container .offset-by-one {
	padding-left: 80px;
}
.container .offset-by-two {
	padding-left: 160px;
}
.container .offset-by-three {
	padding-left: 240px;
}
.container .offset-by-four {
	padding-left: 320px;
}
.container .offset-by-five {
	padding-left: 400px;
}
.container .offset-by-six {
	padding-left: 480px;
}
.container .offset-by-seven {
	padding-left: 560px;
}
.container .offset-by-eight {
	padding-left: 640px;
}
.container .offset-by-nine {
	padding-left: 720px;
}
.container .offset-by-ten {
	padding-left: 800px;
}
.container .offset-by-eleven {
	padding-left: 880px;
}
.one_half {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.one_third {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.two_third {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.three_fourth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.one_fourth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.one_fifth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.two_fifth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.three_fifth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.four_fifth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.one_sixth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.five_sixth {
	margin-right: 2%; margin-left: 2%; float: left; position: relative;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.66%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.8%;
}
.one_sixth {
	width: 13.33%;
}
.two_third {
	width: 65.33%;
}
.two_fourth {
	width: 48%;
}
.two_fifth {
	width: 37.6%;
}
.two_sixth {
	width: 30.66%;
}
.three_fourth {
	width: 74%;
}
.three_fifth {
	width: 58.4%;
}
.three_sixth {
	width: 47.99%;
}
.four_fifth {
	width: 79.2%;
}
.four_sixth {
	width: 65.33%;
}
.five_sixth {
	width: 82.66%;
}
.firstcols {
	margin-left: 0px !important;
}
.last {
	clear: right; margin-right: 0px !important;
}
.lastcols {
	clear: right; margin-right: 0px !important;
}
.container::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: "\0020";
}
.clearfix::before {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
.clearfix::after {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
.row::before {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
.row::after {
	width: 0px; height: 0px; overflow: hidden; display: block; visibility: hidden; content: "\0020";
}
.row::after {
	clear: both;
}
.clearfix::after {
	clear: both;
}
.row {
	zoom: 1;
}
.clearfix {
	zoom: 1;
}
.clear {
	width: 0px; height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden;
}
.clr {
	width: 0px; height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden;
}

* {
	margin: 0px; padding: 0px;
}
*:focus {
	
}
form {
	margin: 0px; padding: 0px;
}
hr {
	border-width: 0px 0px 1px; margin: 0px 0px 30px; padding: 30px 0px 0px; width: 100%; height: 1px; text-align: center; line-height: 0; clear: both; border-bottom-color: rgb(234, 234, 234); border-bottom-style: solid; page-break-after: always;
}
.separator {
	width: 100%; height: 25px; text-align: center; clear: both; display: block;
}
.line.separator {
	background-position: center; margin: 0px 0px 10px; width: 100%; height: 80px; text-align: center; clear: both; display: block; background-image: url("../images/double_line.gif"); background-repeat: repeat-x;
}
.space {
	height: 8px; line-height: 8px; display: block;
}
h1 {
	margin-bottom: 20px;
}
h2 {
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 20px;
}
h4 {
	margin-bottom: 15px;
}
h5 {
	margin-bottom: 15px;
}
h6 {
	margin-bottom: 15px;
}
h1 {
	line-height: 32px; font-size: 30px;
}
h2 {
	line-height: 26px; font-size: 24px;
}
h3 {
	line-height: 22px; font-size: 20px;
}
h4 {
	line-height: 20px; font-size: 16px;
}
h5 {
	line-height: 16px; font-size: 13px;
}
h6 {
	line-height: normal; font-size: 12px;
}
h1 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
h2 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
h3 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
h4 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
h5 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
h6 {
	color: rgb(57, 57, 57); font-family: "DroidSansRegular", Verdana, Arial; font-weight: normal;
}
.pagetitle {
	line-height: 26px; font-size: 24px; margin-bottom: 20px;
}
.nomargin {
	margin-bottom: 8px;
}

.colortext {
	color: rgb(240, 176, 40); text-decoration: none;
}
a:hover {
	text-decoration:none;
	color:#333;
}
a img {
	border: currentColor;
}
img {
	max-width: 100%;
}
.border {
	border: 1px solid rgb(255, 255, 255);
}
.alignleft {
	margin-top: 3px; margin-right: 25px; float: left; display: inline;
}
img.alignleft {
	margin-top: 3px; margin-right: 25px; float: left; display: inline;
}
.alignright {
	margin-top: 5px; margin-left: 25px; float: right; display: inline;
}
img.alignright {
	margin-top: 5px; margin-left: 25px; float: right; display: inline;
}
.aligncenter {
	clear: both; margin-right: auto; margin-left: auto; display: block;
}
img.aligncenter {
	clear: both; margin-right: auto; margin-left: auto; display: block;
}
.alignnone {
	clear: both; margin-top: 3px; margin-right: auto; margin-left: auto; display: block;
}
img.alignnone {
	clear: both; margin-top: 3px; margin-right: auto; margin-left: auto; display: block;
}
img.alignleft {
	margin-bottom: 12px;
}
img.alignright {
	margin-bottom: 12px;
}
img.aligncenter {
	margin-bottom: 12px;
}
img.alignnone {
	margin-bottom: 12px;
}
p {
	margin-bottom: 20px;
}
ul {
	margin-bottom: 20px;
}
ol {
	margin-bottom: 20px;
}
blockquote {
	margin-bottom: 20px;
}
ul {
	margin: 10px 0px 20px 20px;
}
ol {
	margin: 10px 0px 20px 20px;
}
li ol {
	list-style: square; margin-top: 0px; margin-bottom: 0px;
}
li ul {
	list-style: square; margin-top: 0px; margin-bottom: 0px;
}
li ol {
	list-style: decimal;
}
blockquote {
	margin: 0px 0px 20px; padding: 4px 10px 0px 30px; line-height: 20px; clear: both; font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-style: italic; background-image: url("../images/quote.png"); background-repeat: no-repeat;
}
blockquote p {
	margin: 0px;
}
code {
	margin: 25px 0px; padding: 15px 10px; letter-spacing: 1px; font-family: Verdana, Arial; font-size: 0.9em; border-left-color: rgb(219, 219, 219); border-left-width: 4px; border-left-style: solid; display: block;
}

#top {
	height: 77px; clear: both;
}
#topsearch {
	padding: 25px 0px 0px; float: right;
}
#topsearch .inputbox {
	background: url("../images/bg_searchtop.gif") repeat-x rgb(255, 255, 255); padding: 6px 5px; outline: rgb(234, 234, 234) solid 1px; border: 1px solid rgb(255, 255, 255); width: 200px; color: rgb(110, 110, 110); font-size: 12px; box-shadow: inset 0px 0px 0px #d3d3d3; -moz-box-shadow: inset 0px 0px #d3d3d3; -webkit-box-shadow: inset 0px 0px 0px #d3d3d3;
}
#nav {
	height: 70px; clear: both; position: relative; z-index: 100;
}
#topnav {
	background: url("../images/nav_line.gif") repeat-y left top; margin: 0px; padding: 0px; text-transform: uppercase; overflow: visible; font-family: "DroidSansRegular"; font-size: 14px; float: left; list-style-type: none; position: relative;
}
.sf-menu > li {
	background: url("../images/nav_line.gif") repeat-y right top; margin: 0px; padding: 0px; width: 156.66px; height: 54px; text-align: center; line-height: 54px;
}
.sf-menu a:hover {
	color: rgb(240, 176, 40);
}
.sfHover a {
	color: rgb(240, 176, 40);
}
.sfHover a.sf-with-ul {
	color: rgb(240, 176, 40);
}
.sfHover li a.sf-with-ul {
	color: rgb(48, 48, 48) !important;
}
.sf-menu ul li.sfHover > a {
	color: rgb(48, 48, 48);
}
.sf-menu a {
	padding: 0px !important; color: rgb(48, 48, 48); font-weight: normal; text-decoration: none !important; display: block; position: relative;
}
.sf-menu li a.current {
	color: rgb(240, 176, 40);
}
.sf-menu li li:last-child {
	border-bottom-color: rgb(244, 245, 245); border-bottom-width: 1px; border-bottom-style: solid;
}
.sfHover {
	background: rgb(202, 0, 5);
}
.sf-menu ul a:hover {
	
}
.sf-menu li li {
	background: url("../images/bg_submenu.gif") repeat-x 0px -1px rgb(243, 243, 243) !important; margin: 0px; text-align: left; line-height: 20px; font-size: 12px; border-top-color: rgb(228, 228, 228); border-top-width: 1px; border-top-style: solid;
}
.sf-menu {
	list-style: none; margin: 0px; padding: 0px; font-size: 13px;
}
.sf-menu * {
	list-style: none; margin: 0px; padding: 0px; font-size: 13px;
}
.sf-menu {
	right: 0px; bottom: 0px; line-height: 100%; float: left; position: absolute;
}
.sf-menu ul {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(228, 228, 228) rgb(228, 228, 228); top: -999em; width: 27em; position: absolute;
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit;
}
.sf-menu li {
	margin: 0px; float: left; position: relative;
}
.sf-menu li li {
	margin: 0px;
}
.sf-menu li:hover ul {
	left: -2px; top: 4.4em; z-index: 99;
}
.sf-menu li.sfHover ul {
	left: -2px; top: 4.4em; z-index: 99;
}
ul.sf-menu li:hover li ul {
	top: -999em;
}
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul {
	left: 10em; top: -1px; margin-left: 0px;
}
ul.sf-menu li li.sfHover ul {
	left: 10em; top: -1px; margin-left: 0px;
}
ul.sf-menu li li:hover li ul {
	top: -999em;
}
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul {
	left: 10em; top: -1px;
}
ul.sf-menu li li li.sfHover ul {
	left: 10em; top: -1px;
}
.sf-menu ul li a {
	padding: 10px 25px !important; color: rgb(48, 48, 48); font-size: 11px;
}
.sf-menu ul li a:hover {
	
}
.sf-menu li ul {
	padding: 0px;
}
.sf-menu a.sf-with-ul {
	padding-right: 0px; min-width: 1px;
}
.sf-sub-indicator {
	top: 1.05em; width: 10px; height: 10px; right: 10px; text-indent: -999em; overflow: hidden; display: block; position: absolute;
}

#slider-container {
	margin: 0px; border: 1px solid rgb(255, 255, 255); width: 1000; height: 343px; overflow: hidden; clear: both !important; position: relative;
}
.nivoSlider {
	background: url("../images/loading.gif") no-repeat 50% 50% rgb(255, 255, 255); margin-bottom: 10px; position: relative;
}
.nivoSlider img {
	left: 0px; top: 0px; display: none; position: absolute;
}
.nivoSlider a {
	border: 0px currentColor; display: block;
}
.nivo-directionNav a {
	border: 0px currentColor; width: 22px; height: 24px; text-indent: -9999px; display: block;
}
#slider {
	margin: 0px auto; width: 1000px; height: 343px; overflow: hidden; position: relative; z-index: 9;
}
#slider h1 {
	color: rgb(255, 255, 255); font-size: 24px;
}
#slider .sdate {
	padding-bottom: 10px; display: block;
}
#slider hr {
	margin: 0px 0px 20px; padding: 0px; border-bottom-color: rgb(137, 137, 137); border-bottom-width: 1px; border-bottom-style: solid;
}

.inner#content {
	padding: 20px 0px 50px;
}
.indentleft {
	overflow: hidden;
}
#latestpost {
	margin: 0px; padding: 0px; list-style-type: none;
}
#latestpost h5 {
	margin-bottom: 8px;
}
#latestpost li {
	background: url("../images/double_line.gif") repeat-x left bottom; margin: 0px 0px 20px; padding: 0px 0px 10px; clear: both; list-style-type: none;
}
#latestpost li:last-child {
	margin: 0px; padding: 0px;
}
.list {
	margin: 0px; padding: 0px; list-style-type: none;
}
.list li {
	background: url("../images/list.gif") no-repeat 0px 5px; margin: 0px 0px 6px; padding: 0px 0px 6px 15px; line-height: 18px;
}
.list1 {
	margin: 0px; padding: 0px; list-style-type: none;
}
.list1 h4 {
	margin-bottom: 8px;
}
.list1 li {
	background: url("../images/double_line.gif") repeat-x left bottom; margin: 0px 0px 25px; padding: 0px 0px 25px; list-style-type: none;
}
.list1 li:last-child {
	margin: 0px; padding: 0px;
}
.list2 {
	margin: 0px; padding: 0px; list-style-type: none;
}
.list2 h4 {
	margin-bottom: 8px;
}
.list2 li {
	margin: 0px 0px 8px; padding: 0px 0px 8px; list-style-type: none;
}
.list2 li:last-child {
	margin: 0px; padding: 0px;
}
blockquote.testimonial {
	margin-bottom: 0px;
}
.testiname {
	padding: 8px 0px 0px; color: rgb(48, 48, 48); display: block;
}
#sidebar {
	padding: 0px 0px 0px 45px;
}
#sidebar .widget-container {
	margin-bottom: 40px;
}
#sidebar .widget-title {
	margin-bottom: 20px;
}
#sidebar ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar ul li {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar ul li li {
	background: url("../images/double_line.gif") repeat-x bottom; margin: 0px 0px 7px; padding: 0px 0px 7px; list-style-type: none;
}
#sidebar .sub-menu {
	margin: 10px 0px 0px 20px;
}
#sidebar .sub-menu li:last-child {
	margin-bottom: 0px;
}
#sidebar #latestpost {
	margin: 0px; padding: 0px; list-style-type: none;
}
#sidebar .alignleft {
	margin-right: 15px;
}
#sidebar #latestpost h5 {
	margin-bottom: 8px;
}
#sidebar #latestpost .pdate {
	color: rgb(153, 153, 153);
}
#sidebar #latestpost li {
	background: url("../images/double_line.gif") repeat-x left bottom; margin: 0px 0px 20px; padding: 0px 0px 30px; height: 80px; clear: both; list-style-type: none; min-height: 80px;
}
#sidebar #latestpost li:last-child {
	margin: 0px; padding: 0px;
}
#jstwitter {
	
}
#jstwitter .tweet {
	background: url("../images/double_line.gif") repeat-x bottom; margin: 0px auto 15px; padding: 0px 0px 15px;
}
#jstwitter .padtweet {
	background: url("../images/tweet.png") no-repeat 0px 5px !important; padding-left: 30px !important;
}
#jstwitter .tweet a {
	text-decoration: none;
}
#jstwitter .tweet a:hover {
	text-decoration: underline;
}
#jstwitter .tweet .time {
	color: rgb(102, 102, 102); font-size: 10px; font-style: italic;
}
input[type='text'] {
	padding: 5px; border: 0px currentColor; box-shadow: inset 1px 1px 1px #d3d3d3; -moz-box-shadow: inset 1px 1px #d3d3d3; -webkit-box-shadow: inset 1px 1px 1px #d3d3d3;
}
textarea {
	padding: 5px; border: 0px currentColor; box-shadow: inset 1px 1px 1px #d3d3d3; -moz-box-shadow: inset 1px 1px #d3d3d3; -webkit-box-shadow: inset 1px 1px 1px #d3d3d3;
}
.button {
	background: url("../images/bg_button.gif") repeat-x 0px 0px rgb(245, 245, 245); padding: 0px 15px; border: 1px solid rgb(230, 230, 230); height: 30px; color: rgb(110, 110, 110); text-transform: uppercase; line-height: 30px; font-family: "DroidSansRegular"; font-size: 13px; display: inline-block;
}
.button:visited {
	background: url("../images/bg_button.gif") repeat-x 0px 0px rgb(245, 245, 245); padding: 0px 15px; border: 1px solid rgb(230, 230, 230); height: 30px; color: rgb(110, 110, 110); text-transform: uppercase; line-height: 30px; font-family: "DroidSansRegular"; font-size: 13px; display: inline-block;
}
.button:hover {
	background: url("../images/bg_button.gif") repeat-x 0px -30px rgb(253, 253, 253); text-decoration: none;
}
.dropcap1 {
	margin: 2px 8px 0px 0px; color: rgb(131, 131, 131); line-height: 34px; font-size: 34px; float: left; display: block;
}
.dropcap2 {
	margin: 0px 15px 0px 0px; border-radius: 40px; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 25px; float: left; display: block; background-color: rgb(240, 176, 40); -moz-border-radius: 40px; -webkit-border-radius: 40px; -khtml-border-radius: 40px;
}
.dropcap3 {
	margin: 6px 15px 0px 0px; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; font-size: 25px; float: left; display: block; background-color: rgb(240, 176, 40);
}
.highlight1 {
	padding: 2px 5px; border: 1px solid rgb(204, 204, 204); color: rgb(0, 0, 0); background-color: rgb(230, 232, 232);
}
.highlight2 {
	padding: 2px 5px; border: 1px solid rgb(51, 51, 51); color: rgb(255, 255, 255); background-color: rgb(102, 102, 102);
}
.pullquote-right {
	margin: 0px 2px 20px 20px; padding: 10px 20px; width: 50%; color: rgb(69, 69, 69); line-height: 20px; letter-spacing: 0px; font-family: "Bookman Old Style", Georgia, arial; font-size: 14px; font-style: italic; float: right; background-color: rgb(238, 239, 239);
}
.pullquote-left {
	margin: 0px 2px 20px 20px; padding: 10px 20px; width: 50%; color: rgb(69, 69, 69); line-height: 20px; letter-spacing: 0px; font-family: "Bookman Old Style", Georgia, arial; font-size: 14px; font-style: italic; float: right; background-color: rgb(238, 239, 239);
}
.pullquote-left {
	margin-right: 20px; margin-left: 2px; float: left;
}
#footer_text {
	padding: 25px 0px;
}
